@using OnlineLibrary.Web.Models
@using OnlineLibrary.DataAccess
@model OnlineLibrary.Web.Models.BookDetailsViewModel
@{
    ViewBag.Title = "Book Details Page";
}

@section CSS {
    <link href="~/Content/Views stylesheets/BookDetails/Index.css" rel="stylesheet" />
}

<div class="page-header">
    <h1>Book Details</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @{var book = Model;
            <div class="panel panel-default book-item">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object book-cover" src="@Url.Content(book.FrontCover)" alt="@book.Title">
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">@book.Title</h3>
                            <p><strong>@((book.Authors.Count() > 1) ? "Authors:" : "Author:")</strong> @String.Join(", ", book.Authors)</p>

                            <p><strong>Publish Date:</strong> @book.PublishDate.ToShortDateString()</p>

                            <p><strong>ISBN:</strong> @book.ISBN</p>

                            @if (User.IsInRole(UserRoles.Librarian) || User.IsInRole(UserRoles.SysAdmin) || User.IsInRole(UserRoles.SuperAdmin))
                            {
                            <p><strong>Number of items in stock:</strong> @book.NrOfBooks</p>

                            <p><strong>Condition of items in stock:</strong> @book.HowManyInThisCondition</p>
                            }

                            <p><strong>Description:</strong> @book.Description</p>
                     
                            <p>
                                <strong>Categories:</strong>
                                <ul class="book-categories">
                                    @foreach (CategoryViewModel category in book.Categories)
                                    {
                                        <li>
                                            <span class="label label-default">@category.Category</span> > <span class="label label-info">@category.SubCategory</span>
                                        </li>
                                    }
                                </ul>
                            </p>
                 </div>

             </div>

         </div>

     </div>
            }
    </div>
</div>

