@model OnlineLibrary.Web.Models.UserLoansViewModels.UserLoansViewModel

@{
    ViewBag.Title = "My Loans";
}

<h2>My Loans</h2>

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        @if (!Model.CurrentLoans.Any())
            {
            <div>
                You have no current loans.
            </div>
        }
        else
        {
            // List loans that are overdue.
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <strong>Loans overdue</strong>
                    </h3>
                </div>
                @foreach (var loan in Model.CurrentLoans)
                {
                    if ((loan.ExpectedReturnDate.Value - DateTime.Now).Days <= 0)
                    {
                        <div class="panel-body">
                            You have loaned <strong>"@loan.Title"</strong> and you are expected to return the book before @string.Format("{0:dddd, MMM d, yyyy}", loan.ExpectedReturnDate) - the return time is <strong>@((DateTime.Now - loan.ExpectedReturnDate.Value).Days) days overdue</strong>!
                        </div>
                    }
                }
            </div>

            // List loans that will be soon overdue.
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <strong>Loans that expire soon</strong>
                    </h3>
                </div>
                @foreach (var loan in Model.CurrentLoans)
                {
                    if ((loan.ExpectedReturnDate.Value - DateTime.Now).Days <= 5 && (loan.ExpectedReturnDate.Value - DateTime.Now).Days > 0)
                    {
                        <div class="panel-body">
                            You have loaned <strong>"@loan.Title"</strong> and you are expected to return the book before @string.Format("{0:dddd, MMMM dd, yyyy}", loan.ExpectedReturnDate)  - you have <strong>@((loan.ExpectedReturnDate.Value - DateTime.Now).Days) days left</strong>!
                        </div>
                    }
                }
            </div>

            // List all current loans that are not overdue and not soon overdue.
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <strong>Active loans</strong>
                    </h3>
                </div>
                @foreach (var loan in Model.CurrentLoans)
                {
                    if ((loan.ExpectedReturnDate.Value - DateTime.Now).Days > 5)
                    {
                        <div class="panel-body">
                            You have loaned <strong>"@loan.Title"</strong> and you are expected to return the book before <strong>@string.Format("{0:dddd, MMMM dd, yyyy}", loan.ExpectedReturnDate)</strong>
                        </div>
                    }
                }
            </div>
        }


        @* Rejected loan requests.*@
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <strong>Rejected loan requests</strong>
                </h3>
            </div>
            @if (!Model.RejectedLoans.Any())
            {
                <div class="panel-body">
                    There are no rejected loan requests.
                </div>
            }
            else
            {
                foreach (var loan in Model.RejectedLoans)
                {
                    <div class="panel-body">
                        Your request for <strong> "@loan.Title" </strong> was rejected.
                    </div>
                }
            }
        </div>


        @* Approved loan requests.*@
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <strong>Approved loan requests</strong>
                </h3>
            </div>
            @if (!Model.ApprovedLoans.Any())
            {
                <div class="panel-body">
                    There are no approved loan requests.
                </div>
            }
            else
            {
                foreach (var loan in Model.ApprovedLoans)
                {
                    <div class="panel-body">
                        You have sent a loan request for the book <strong>"@loan.Title"</strong> - it was approved. You are expected to go to the library and take the book.
                    </div>
                }
            }
        </div>

        @* Pending loan requests.*@
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    Pending loan requests
                </h3>
            </div>
            @if (!Model.PendingLoans.Any())
            {
                <div class="panel-body">
                    You have no pending loans.
                </div>
            }
            else
            {
                foreach (var loan in Model.PendingLoans)
                {
                    <div class="panel-body">
                        Your loan request for <strong> "@loan.BookTitle" </strong> is pending confirmation.
                    </div>
                }
            }
        </div>

        @* Returned books.*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    Returned books
                </h3>
            </div>
            @if (!Model.ReturnedLoans.Any())
            {
                <div class="panel-body">
                    You have no returned books.
                </div>
            }
            else
            {
                foreach (var loan in Model.ReturnedLoans)
                {
                    <div class="panel-body">
                        You have loaned and returned the book <strong> "@loan.Title" </strong>.
                    </div>
                }
            }
        </div>

        @* Lost books.*@
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    Lost books
                </h3>
            </div>
            @if (!Model.LostBooks.Any())
            {
                <div class="panel-body">
                    You have no lost books.
                </div>
            }
            else
            {
                foreach (var loan in Model.LostBooks)
                {
                    <div class="panel-body">
                        You have loaned and lost the book <strong> "@loan.Title" </strong>.
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>
