@using OnlineLibrary.Web.Models.BooksManagement.CreateEditBookViewModels
@using System.Linq
@model CreateEditBookViewModel
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <link href="~/Content/Views stylesheets/BooksManagement/CreateEdit.css" rel="stylesheet" />
}


<h2>Book Management</h2>

<div>
    @using (Html.BeginForm("CreateEdit", "BooksManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label>ISBN</label>
            @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Title</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Description</label>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Publish Date</label>
             @Html.TextBoxFor(m => m.PublishDate, new { @class = "form-control" }) 
        </div>
        <div class="form-group">
            <label>Front Cover</label>
            <p></p>
            @if (Model.FrontCover != null)
            {
                <img height="200" src=@Url.Content(Model.FrontCover) />
            }
        </div>
        <div class="form-group">
            <input type="file" name="Image" />
        </div>

    <div id="bookAuthors" class="form-inline">
        <hr />
        <h3>Authors:</h3>
            @for (int i = 0; i < Model.Authors.Count(); i++)
            {
            <div class="book-author" data-author-id="@i">
                    @Html.HiddenFor(m => m.Authors[i].Id)
                @Html.HiddenFor(m => m.Authors[i].IsRemoved, new { @class = "is-removed" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Authors[i].FirstName)
                    @Html.TextBoxFor(m => m.Authors[i].FirstName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Authors[i].MiddleName)
                    @Html.TextBoxFor(m => m.Authors[i].MiddleName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Authors[i].LastName)
                    @Html.TextBoxFor(m => m.Authors[i].LastName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-danger btn-remove-author-modal" data-toggle="modal" 
                            data-target="#removeAuthorConfirmation" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                </div>
            }
        </div>

    <div class="modal fade" id="removeAuthorConfirmation" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Warning!</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this author?
                </div>
                <div class="modal-footer">
                    <button id="btnRemoveAuthorConfirm" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

        <div id="bookCategories">

        </div>
        <input type="button" id="AddBookAuthor" value="Add Author" class="btn btn-primary">

        <hr />
        <p> <h3>Book Copies:</h3> </p>

        <div id="bookCopies">
            <table id="bookCopyTable" class="col-sm-12 table-hover">

                @for (int i = 0; i < Model.BookCopies.Count(); i++)
                {
                    <tr id="bookCopy@(i)">
                        <td class="col-sm-2">BookCopyId = @Model.BookCopies[i].Id</td>
                        <td class="col-sm-3">
                            <div class="bookCopy">
                                @Html.HiddenFor(m => m.BookCopies[i].Id)
                                @Html.EnumDropDownListFor(m => m.BookCopies[i].BookCondition, new { @class = "form-control" })
                                <input class="IsToBeDeleted" type="hidden" name="BookCopies[@(i)].IsToBeDeleted" value="false"/>
                            </div>
                        </td>
                        <td class="col-sm-7">
                            <!-- Trigger Button for DeleteBookCopyModal -->
                            <button type="button" class="btn btn-danger btn-sm passBookCopyForDelete" data-toggle="modal" data-target="#deleteCopy" data-book-copy-row-id="@i">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>

            <p> <input type="button" id="AddBookCopy" value="Add Copy" class="btn btn-primary" /> </p>
            <input type="submit" value="Save" class="btn btn-primary" />

    }

</div>

<!-- DeleteBookCopyModal  -->
<div class="modal fade" id="deleteCopy" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteBookCopyLabel">Delete the current book copy</h4>
            </div>

            <div class="modal-body">
                <label>Are you sure you want to delete this book copy?</label>
            </div>
            <div class="modal-footer">
                <input id="bookCopyRowId" name="rowid" hidden="hidden" />
                <input id="bookCopyId" name="id" hidden="hidden" />
                <button type="submit" id="confirm-remove" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/knockout-3.4.0.js"></script>

    <script>
    $(document).ready(function () {

        $("#btnRemoveAuthorConfirm").click(function () {
            // Extract the author ID to remove.
            var authorIdToRemove = parseInt($(this).attr("data-author-to-remove-id"));

            // Find and hide the parent book-author container element.
            var bookAuthor = $('#bookAuthors .book-author[data-author-id="' + authorIdToRemove + '"]').first();
            bookAuthor.slideUp(1000, function () {
                var isRemovedInput = $(this).children(".is-removed");
                isRemovedInput.val(true);
            });
        });

        // Copies the author ID to modal window.
        function btnRemoveAuthorModal() {
            var authorId = $(this).closest(".book-author").data("authorId");
            $("#btnRemoveAuthorConfirm").attr("data-author-to-remove-id", authorId);
        }

        $(".btn-remove-author-modal").click(btnRemoveAuthorModal);

        $("#AddBookAuthor").click(function () {
            var authorsDiv = document.getElementById("bookAuthors");
            var newBookAuthorId = parseInt($("#bookAuthors .book-author").last().data("authorId")) + 1;

            if (isNaN(newBookAuthorId)) {
                newBookAuthorId = 0;
            }

            // Create a div for new Author

            var newAuthorDiv = document.createElement("div")
            newAuthorDiv.className = "book-author";
            newAuthorDiv.setAttribute("data-author-id", newBookAuthorId);

            // Create inputs for Author data.
            // IsRemoved.
            var isRemovedInput = document.createElement("input");
            isRemovedInput.className = "is-removed";
            isRemovedInput.name = "Authors[" + newBookAuthorId + "].IsRemoved";
            isRemovedInput.type = "hidden";
            isRemovedInput.value = "false";

            newAuthorDiv.appendChild(isRemovedInput);

            // First Name.
            var formGroup = document.createElement("div");
            formGroup.className = "form-group";

            var firstNameLabel = document.createElement("label");
            firstNameLabel.htmlFor = "Authors_" + newBookAuthorId + "__FirstName";
            firstNameLabel.innerHTML = "First Name";

            var firstNameInput = document.createElement("input");
            firstNameInput.name = "Authors[" + newBookAuthorId + "].FirstName";
            firstNameInput.id = "Authors_" + newBookAuthorId + "__FirstName";
            firstNameInput.type = "text";
            firstNameInput.className = "form-control";

            formGroup.appendChild(firstNameLabel);
            formGroup.appendChild(firstNameInput);
            newAuthorDiv.appendChild(formGroup);

            // Middle Name.
            formGroup = document.createElement("div");
            formGroup.className = "form-group";

            var middleNameLabel = document.createElement("label");
            middleNameLabel.htmlFor = "Authors_" + newBookAuthorId + "__MiddleName";
            middleNameLabel.innerHTML = "Middle Name";

            var middleNameInput = document.createElement("input");
            middleNameInput.id = "Authors_" + newBookAuthorId + "__MiddleName";
            middleNameInput.name = "Authors[" + newBookAuthorId + "].MiddleName";
            middleNameInput.type = "text";
            middleNameInput.className = "form-control";

            formGroup.appendChild(middleNameLabel);
            formGroup.appendChild(middleNameInput);
            newAuthorDiv.appendChild(formGroup);

            // Last Name.
            formGroup = document.createElement("div");
            formGroup.className = "form-group";

            var lastNameLabel = document.createElement("label");
            lastNameLabel.htmlFor = "Authors_" + newBookAuthorId + "__LastName";
            lastNameLabel.innerHTML = "Last Name";

            var lastNameInput = document.createElement("input");
            lastNameInput.id = "Authors_" + newBookAuthorId + "__LastName";
            lastNameInput.name = "Authors[" + newBookAuthorId + "].LastName";
            lastNameInput.type = "text";
            lastNameInput.className = "form-control";

            formGroup.appendChild(lastNameLabel);
            formGroup.appendChild(lastNameInput);
            newAuthorDiv.appendChild(formGroup);

            // Button.
            formGroup = document.createElement("div");
            formGroup.className = "form-group";

            var removeButton = document.createElement("button");
            removeButton.className = "btn btn-sm btn-danger btn-remove-author-modal";
            removeButton.type = "button";
            removeButton.setAttribute("data-toggle", "modal");
            removeButton.setAttribute("data-target", "#removeAuthorConfirmation");
            $(removeButton).click(btnRemoveAuthorModal);

            // Button icon.
            var removeButtonIcon = document.createElement("span");
            removeButtonIcon.className = "glyphicon glyphicon-remove";
            removeButton.appendChild(removeButtonIcon);

            formGroup.appendChild(removeButton);
            newAuthorDiv.appendChild(formGroup);

            // Add new Author div to all authors
            $("#bookAuthors").append(newAuthorDiv);
        })

        $(".passBookCopyForDelete").click(function () {
            rowid = $(this).data('bookCopyRowId');
        });

        $("#confirm-remove").click(function () {
            var trToHide = $("#bookCopy" + rowid);
            trToHide.fadeOut(1000, function () {
                trToHide.hide();
            })
            $("#bookCopy" + rowid + " .bookCopy .IsToBeDeleted").attr("value", "true");
        });

        $("#AddBookCopy").click(function () {
            // Retreive book conditions.
            var ajaxData = {
                method: "GET",
                complete: function (jqXHR) {
                    var bookConditions = jqXHR.responseJSON;

                    var newId = 0;

                    var newBookCopyRowId = parseInt($(".passBookCopyForDelete").last().attr("data-book-copy-row-id")) + 1;

                    if (isNaN(newBookCopyRowId)) {
                        newBookCopyRowId = 0;
                    }

                    var newTr = document.createElement("tr");
                    newTr.id = "bookCopy" + newBookCopyRowId;

                    var newTd = document.createElement("td");
                    newTd.className = "col-sm-2";
                    newTd.innerHTML = "BookCopyId = newId";

                    var newTd2 = document.createElement("td");
                    newTd2.className = "col-sm-3";

                    var newTd3 = document.createElement("td");
                    newTd3.className = "col-sm-7";

                    var newDiv = document.createElement("div");
                    newDiv.className = "bookCopy"
                    $(newDiv).data("book-copy-id", newId);

                    var newInput = document.createElement("input");
                    newInput.className = "IsToBeDeleted";
                    newInput.type = "hidden";
                    newInput.name = "BookCopies[" + newBookCopyRowId + "].IsToBeDeleted";
                    newInput.value = "false";

                    var bookCopySelect = document.createElement("select");
                    bookCopySelect.id = "BookCopies_" + newBookCopyRowId + "__BookCondition";
                    bookCopySelect.name = "BookCopies[" + newBookCopyRowId + "].BookCondition";
                    bookCopySelect.className = "form-control";

                    // Fill dropdown.
                    for (var i = 0; i < bookConditions.length; i++) {
                        var optionElement = document.createElement("option");
                        optionElement.value = bookConditions[i].Value;
                        optionElement.innerHTML = bookConditions[i].Name;

                        bookCopySelect.appendChild(optionElement);
                    }

                    // Remove button
                    var newRemoveButton = document.createElement("button");
                    newRemoveButton.className = "btn btn-danger btn-sm passBookCopyForDelete";
                    newRemoveButton.type = "button";
                    newRemoveButton.setAttribute("data-toggle", "modal");
                    newRemoveButton.setAttribute("data-target", "#deleteCopy");
                    newRemoveButton.setAttribute("data-book-copy-row-id", newBookCopyRowId);

                    // Button icon.
                    var newRemoveButtonIcon = document.createElement("span");
                    newRemoveButtonIcon.className = "glyphicon glyphicon-remove";
                    newRemoveButton.appendChild(newRemoveButtonIcon);

                    newDiv.appendChild(newInput);
                    newDiv.appendChild(bookCopySelect);
                    newTd2.appendChild(newDiv);
                    newTd3.appendChild(newRemoveButton);
                    newTr.appendChild(newTd);
                    newTr.appendChild(newTd2);
                    newTr.appendChild(newTd3);

                    $("#bookCopies table").append(newTr);

                    $(".passBookCopyForDelete").click(function () {
                        rowid = $(this).data('bookCopyRowId');
                    });

                    $("#confirm-remove").click(function () {
                        var trToHide = $("#bookCopy" + rowid);
                        trToHide.fadeOut(1000, function () {
                            trToHide.hide();
                        })
                        $("#bookCopy" + rowid + " .bookCopy .IsToBeDeleted").attr("value", "true");
                    });
                }
            }
            $.ajax("@Url.Action("ListBookConditions", "BooksManagement")", ajaxData);
        })
    });

    </script>

}

