@using OnlineLibrary.Web.Models.BooksManagement.CreateEditBookViewModels
@using System.Linq
@model CreateEditBookViewModel
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateEdit</h2>

<div>
    @using (Html.BeginForm("CreateEdit", "BooksManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       <p> <strong>ISBN</strong> @Html.TextBoxFor(m => m.ISBN) </p>
       <p> <strong>Title</strong> @Html.TextBoxFor(m => m.Title) </p>
       <p> <strong>Description</strong> @Html.TextAreaFor(m => m.Description) </p>
       <p> <strong>Publish Date</strong> @Html.TextBoxFor(m => m.PublishDate) </p>
       <p> <strong>Front Cover</strong> </p>

       if( Model.FrontCover != null )
       {
           <img width="100" src=@Url.Content(Model.FrontCover) />
       }
       <p> <input type="file" name="Image"/> </p>

    <div id="bookAuthors">
        @for (int i = 0; i < Model.Authors.Count(); i++)
        {
            <div class="bookAuthor" data-author-id="@i">   
                @Html.HiddenFor(m => m.Authors[i].Id)
                <label> First Name</label>  @Html.EditorFor(m => m.Authors[i].FirstName)
                <label> Middle Name</label> @Html.EditorFor(m => m.Authors[i].MiddleName)
                <label> Last Name</label> @Html.EditorFor(m => m.Authors[i].LastName)
            </div>
        }
    </div>
    <input type="button" id="AddBookAuthor" value="Add Author">


       <p> <strong>Book Copies</strong> </p>
    <div id="bookCopies">
        @for (int i = 0; i < Model.BookCopies.Count(); i++)
        {
            <div class="bookCopy">
                @Html.EnumDropDownListFor(m => m.BookCopies[i].BookCondition, new { dataId = i })
            </div>
        }
    </div>

        <p> <input type="button" id="AddBookCopy" value="Add Copy"> </p> 
        <input type="submit" value="Save" />

        }

</div>
@section scripts{

<script>
    $(document).ready(function () {
        $("#AddBookAuthor").click(function () {
            var authorsDiv = document.getElementById("bookAuthors");
            var newBookAuthorId = parseInt($("#bookAuthors .bookAuthor").last().data("authorId")) + 1;

            if (isNaN(newBookAuthorId)) {
                newBookAuthorId = 0;
            }

            // Create a div for new Author

            var newAuthorDiv = document.createElement("div")
            newAuthorDiv.className = "bookAuthor";
            newAuthorDiv.setAttribute("data-author-id", newBookAuthorId);

            // Create inputs for Author Data 
            var newFirstNameLabel = document.createElement("label");
            newFirstNameLabel.innerHTML = "First Name";

            var newFirstNameInput = document.createElement("input");
            newFirstNameInput.name = "Authors[" + newBookAuthorId + "].FirstName";
            newFirstNameInput.type = "text";

            var newMiddleNameLabel = document.createElement("label");
            newMiddleNameLabel.innerHTML = "Middle Name";

            var newMiddleNameInput = document.createElement("input");
            newMiddleNameInput.name = "Authors[" + newBookAuthorId + "].MiddleName";
            newMiddleNameInput.type = "text";

            var newLastNameLabel = document.createElement("label");
            newLastNameLabel.innerHTML = "Last Name";

            var newLastNameInput = document.createElement("input");
            newLastNameInput.name = "Authors[" + newBookAuthorId + "].LastName";
            newLastNameInput.type = "text";

            // Add imputs to created Author div
            newAuthorDiv.appendChild(newFirstNameLabel)
            newAuthorDiv.appendChild(newFirstNameInput);

            newAuthorDiv.appendChild(newMiddleNameLabel)
            newAuthorDiv.appendChild(newMiddleNameInput);

            newAuthorDiv.appendChild(newLastNameLabel)
            newAuthorDiv.appendChild(newLastNameInput);

            // Add new Author div to all authors
            $("#bookAuthors").append(newAuthorDiv);
        })
    });

    $(document).ready(function () {
        $("#AddBookCopy").click(function () {
            // Retreive book conditions.
            var ajaxData = {
                method: "GET",
                complete: function (jqXHR) {
                    var bookConditions = jqXHR.responseJSON;

                    var newId = parseInt($("#bookCopies .bookCopy:last-child select").attr("dataid")) + 1;

                    if (isNaN(newId)) {
                        newId = 0;
                    }

                    var newDiv = document.createElement("div");
                    newDiv.className = "bookCopy";

                    var bookCopySelect = document.createElement("select");
                    bookCopySelect.id = "BookCopies_" + newId + "__BookCondition";
                    bookCopySelect.name = "BookCopies[" + newId + "].BookCondition";
                    bookCopySelect.setAttribute("dataid", newId);
                    bookCopySelect.className = "form-control";

                    // Fill dropdown.
                    for (var i = 0; i < bookConditions.length; i++) {
                        var optionElement = document.createElement("option");
                        optionElement.value = bookConditions[i].Value;
                        optionElement.innerHTML = bookConditions[i].Name;

                        bookCopySelect.appendChild(optionElement);
                    }

                    newDiv.appendChild(bookCopySelect);
                    $("#bookCopies").append(newDiv);
                }
            };
            $.ajax("@Url.Action("ListBookConditions", "BooksManagement")", ajaxData);
        });

    });
</script>

}

