@using OnlineLibrary.Web.Models.BooksManagement
@model IEnumerable<BookManagementViewModel>
@{
    ViewBag.Title = "Book List";
}

<h2>List of books</h2>

@section CSS{
    <link href="~/Content/Views stylesheets/BooksManagement/Index.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
}

@Html.ActionLink("Add a new book", "CreateEdit", "BooksManagement", new { id = 0 }, new { @class = "btn btn-default" })
@Html.ActionLink("Import book details from Google Books", "ImportFromGoogle", "BooksManagement", new { id = 0 }, new { @class = "btn btn-default" })

<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-xs-1"></th>
            <th class="col-xs-4">Title</th>
            <th class="col-xs-2">ISBN</th>
            <th class="col-xs-2">Publish Date</th>
            <th class="col-xs-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr class ="tr-to-remove" id="book@(book.Id)">
                <td>
                    <img src="@Url.Content(book.FrontCover)" width="100" alt="Book cover" />
                </td>
                <td>@Html.ActionLink(book.Title, "Index", "BookDetails", new { id = book.Id }, null)</td>
                <td>@book.ISBN</td>
                <td>@book.PublishDate.ToShortDateString()</td>
                <td class="text-center">
                    <a href="@Url.Action("CreateEdit", "BooksManagement", new { id = book.Id })" class="btn btn-default btn-sm">
                        Edit
                    </a>
                    
                    <!-- Remove Modal Trigger Button -->
                    <button type="button" class="btn btn-danger btn-sm pass-id-to-remove" data-toggle="modal" data-target="#remove-modal" data-book-id="@book.Id">
                        Remove
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Remove Modal -->
<div class="modal fade" id="remove-modal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete the book?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this book? This change is irreversible!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger remove-book" id="pass-id-to-remove-here" data-url="@Url.Action("DeleteBook", "BooksManagement")" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/View Scripts/BooksManagement/DeleteBook.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
}