@using OnlineLibrary.DataAccess.Enums
@model OnlineLibrary.Web.Models.LibrarianLoansViewModels.LibrarianIndexViewModel
@section CSS {
    <link href="~/Content/Views stylesheets/Librarian/Index.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
}

<h2>Manage Loans</h2>

<div>
    <!-- Nav tabs -->
    <ul id="loans-tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#pending" data-status="@Model.PendingStatusValue" data-request-url="@Url.Action("ListActive", "Librarian")" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Pending
            </a>
        </li>
        <li role="presentation">
            <a href="#approved" data-status="@Model.ApprovedStatusValue" data-request-url="@Url.Action("ListActive", "Librarian")" aria-controls="profile" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Approved
            </a>
        </li>
        <li role="presentation">
            <a href="#inProgress" data-status="@Model.InProgressStatusValue" data-request-url="@Url.Action("ListActive", "Librarian")" aria-controls="messages" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Loaned Books
            </a>
        </li>
        <li role="presentation">
            <a href="#history" data-request-url="@Url.Action("ListHistory", "Librarian")" aria-controls="settings" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> History
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="pending">
            <p data-bind="visible: pending().length == 0">No records...</p>
            <table class="table loans-table" data-bind="visible: pending().length > 0">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Book Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: pending">
                    <tr>
                        <td data-bind="text: UserName"></td>
                        <td data-bind="text: BookTitle"></td>
                        <td>
                            <!-- Trigger Button for ApproveModal -->
                            <button type="button" class="btn btn-primary btn-sm approve" data-toggle="modal"
                                    data-target="#approveModal" data-bind="attr: { 'data-loan-id': LoanId }">
                                Approve
                            </button>

                            <!-- Trigger Button for RejectModal -->
                            <button type="button" class="btn btn-danger btn-sm reject" data-toggle="modal"
                                    data-target="#rejectModal" data-bind="attr: { 'data-loan-id': LoanId }">
                                Reject
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="approved">
            <p data-bind="visible: approved().length == 0">No records...</p>
            <table class="table loans-table approved-table" data-bind="visible: approved().length > 0">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Book Title</th>
                        <th>
                            Approving Date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: approved">
                    <tr data-bind="css: { warning: IsApprovedLoanLate }">
                        <td data-bind="text: UserName"></td>
                        <td data-bind="text: BookTitle"></td>
                        <td>
                            <span class="glyphicon glyphicon-exclamation-sign late-approved-loan-sign" data-bind="visible: IsApprovedLoanLate"></span> 
                            <span data-bind="text: ApprovingDate"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm passLoanIdForLoan" data-toggle="modal" data-target="#doLoan" data-bind="attr: { 'data-loan-id': LoanId }">
                                Loan
                            </button>

                            <!-- Trigger Button for CancelModal -->
                            <button type="button" class="btn btn-danger btn-sm passLoanIdForCancel" data-toggle="modal" data-target="#cancelLoan" data-bind="attr: { 'data-loan-id': LoanId }">
                                Cancel
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="inProgress">
            <p data-bind="visible: inProgress().length == 0">No records...</p>
            <table id="loansInProgress" class="table loans-table" data-bind="visible: inProgress().length > 0" data-book-condition-by-loan-url="@Url.Action("GetBookCopyStatusByLoan", "Librarian")">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Book Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: inProgress">
                    <tr>
                        <td data-bind="text: UserName"></td>
                        <td data-bind="text: BookTitle"></td>
                        <td>
                            <div class="form-inline">
                                <!-- Trigger Button for ReturnModal -->
                                <button type="button" class="btn btn-primary btn-sm return" data-toggle="modal"
                                        data-target="#returnLoan" data-bind="attr: { 'data-loan-id': LoanId }">
                                    Return
                                </button>

                                <!-- Trigger Button for LostModal -->
                                <button type="button" class="btn btn-danger btn-sm lost" data-toggle="modal"
                                        data-target="#lostBook" data-bind="attr: { 'data-loan-id': LoanId }">
                                    Lost
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="history">
            @* Rejected loans *@
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    <strong>Rejected loans</strong>
                </h3>
            </div>
            <p data-bind="visible: rejectedVisible() == false">No records...</p>
            <table class="table history-table" data-bind="visible: rejectedVisible">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>User Name</th>
                        <th>Start Date</th>
                        <th>Expected Return Date</th>
                        <th>Actual Return Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: history().Rejected">
                    <tr>
                        <td data-bind="text: ISBN"></td>
                        <td data-bind="text: UserName"></td>
                        <td data-bind="text: StartDate"></td>
                        <td data-bind="text: ExpectedReturnDate"></td>
                        <td data-bind="text: ActualReturnDate"></td>
                    </tr>
                </tbody>
            </table>
            @* Completed loans *@
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    <strong>Completed loans</strong>
                </h3>
            </div>
            <p data-bind="visible: completedVisible() == false">No records...</p>
            <table class="table history-table" data-bind="visible: completedVisible">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Book Copy Id</th>
                        <th>User Name</th>
                        <th>Start Date</th>
                        <th>Expected Return Date</th>
                        <th>Actual Return Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: history().Completed">
                    <tr>
                        <td data-bind="text: ISBN"></td>
                        <td data-bind="text: BookCopyId"></td>
                        <td data-bind="text: UserName"></td>
                        <td data-bind="text: StartDate"></td>
                        <td data-bind="text: ExpectedReturnDate"></td>
                        <td data-bind="text: ActualReturnDate"></td>
                    </tr>
                </tbody>
            </table>
            @* Lost books *@
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    <strong>Lost books</strong>
                </h3>
            </div>
            <p data-bind="visible: lostBookVisible() == false">No records...</p>
            <table class="table history-table" data-bind="visible: lostBookVisible">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Book Copy Id</th>
                        <th>User Name</th>
                        <th>Start Date</th>
                        <th>Expected Return Date</th>
                        <th>Actual Return Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: history().LostBook">
                    <tr>
                        <td data-bind="text: ISBN"></td>
                        <td data-bind="text: BookCopyId"></td>
                        <td data-bind="text: UserName"></td>
                        <td data-bind="text: StartDate"></td>
                        <td data-bind="text: ExpectedReturnDate"></td>
                        <td data-bind="text: ActualReturnDate"></td>
                    </tr>
                </tbody>
            </table>
            @* Cancelled books *@
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <strong>Cancelled loans</strong>
                </h3>
            </div>
            <p data-bind="visible: cancelledVisible() == false">No records...</p>
            <table class="table history-table" data-bind="visible: cancelledVisible">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Book Copy Id</th>
                        <th>User Name</th>
                        <th>Start Date</th>
                        <th>Expected Return Date</th>
                        <th>Actual Return Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: history().Cancelled">
                    <tr>
                        <td data-bind="text: ISBN"></td>
                        <td data-bind="text: BookCopyId"></td>
                        <td data-bind="text: UserName"></td>
                        <td data-bind="text: StartDate"></td>
                        <td data-bind="text: ExpectedReturnDate"></td>
                        <td data-bind="text: ActualReturnDate"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Approve Modal  -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="approveModalLabel">Approve the current loan request</h4>
            </div>
            <div class="modal-body">
                <form id="approveForm" class="form-inline">
                    <div class="form-group">
                        <label>Book Copy ID</label>
                        <input id="bookCopyId" name="bookCopyId" type="text" class="form-control" />
                    </div>

                    <input id="loanId" name="loanId" hidden="hidden" />
                    <input id="approveUrl" hidden="hidden" value="@Url.Action("ApproveLoanRequest", "Librarian")" />
                    <input id="redirectUrl" hidden="hidden" value="@Url.Action("Index", "Librarian")" />

                    <button id="approveLoanButton" type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
                <div id="approveLoanErrorAlert" class="alert alert-danger hidden fade in" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <strong>Oh snap!</strong> <span id="approveLoanError"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Reject Modal  -->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="approveModalLabel">Reject the current loan request</h4>
            </div>

            <div class="modal-body">
                <label>Are you sure you want to reject this loan request ?</label>
            </div>
            <div class="modal-footer">
                <form id="reject" action="@Url.Action("RejectLoanRequest", "Librarian")" method="post">
                    <input id="loanId" name="loanId" hidden="hidden" />
                    <button type="submit" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Loan Modal  -->
    <div class="modal fade" id="doLoan" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="doLoanLabel">Perform loan for the current approved loan request</h4>
                </div>

                <div class="modal-body">
                    <label>Are you sure you want to perform the loan for this approved loan request ?</label>
                </div>
                <div class="modal-footer">
                    <div id="performLoan">
                        <input id="loanId" name="loanId" hidden="hidden" />
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" data-url="@Url.Action("PerformLoan", "Librarian")">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Cancel Approved Loan Modal  -->
<div class="modal fade" id="cancelLoan" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancelLoanLabel">Cancel the current loan approved loan request</h4>
            </div>

            <div class="modal-body">
                <label>Are you sure you want to cancel this approved loan request ?</label>
            </div>
            <div class="modal-footer">
                <div id="cancelApprovedLoan">
                    <input id="loanId" name="loanId" hidden="hidden" />
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" data-url="@Url.Action("CancelApprovedLoan", "Librarian")">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Return Loan Modal  -->
<div class="modal fade" id="returnLoan" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="returnLoanLabel">Mark the current loan as returned</h4>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to mark this loan as returned?</p>
                <div id="returnLoanedBookOptions" class="form-horizontal">
                    <input id="loanId" name="loanId" hidden="hidden" />
                    <div class="form-group">
                        @Html.LabelFor(m => m.BookCondition, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.EnumDropDownListFor(m => m.BookCondition, "Select Condition...", new { @class = "form-control" })
                            <small id="currentBookConditionCaption">Book condition at the loan: <strong id="currentBookConditionValue"></strong></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="returnLoanedBook" class="form-inline">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" data-url="@Url.Action("ReturnBook", "Librarian")">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Lost Book Modal  -->
<div class="modal fade" id="lostBook" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lostBookLabel">Mark current book as lost</h4>
            </div>

            <div class="modal-body">
                <label>Are you sure you want to mark this loaned book as lost?</label>
            </div>
            <div class="modal-footer">
                <div id="lostLoanedBook">
                    <input id="loanId" name="loanId" hidden="hidden" />
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" data-url="@Url.Action("LostBook", "Librarian")">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/View Scripts/Librarian/index.js"></script>
}