@{
    ViewBag.Title = "Index";
}

@section CSS {
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Views stylesheets/CategoriesManagement/Index.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/View Scripts/CategoriesManagement/index.js"></script>
}

<div class="row">
    <div class="col-md-5">
        <h2>Categories</h2>
        <div>
            <div id="newCategoryNameGroup" class="input-group">
                <input id="newCategoryName" class="form-control" type="text" name="newCategory" placeholder="New category name..." />
                <span class="input-group-btn">
                    <button id="addCategory" class="btn btn-success" type="button" data-add-category-url="@Url.Action("CreateCategory", "CategoriesManagement")">Add</button>
                </span>
            </div>
            <p data-bind="visible: categories().length == 0">No records...</p>
            <div id="categoriesList" class="list-group btn-group-vertical" data-toggle="buttons" data-bind="foreach: categories" data-categories-url="@Url.Action("GetCategories", "CategoriesManagement")" data-subcategory-url="@Url.Action("GetSubCategories", "CategoriesManagement")" data-category-update-url="@Url.Action("UpdateCategory", "CategoriesManagement")">
                <label class="btn btn-default">
                    <input type="radio" name="category" data-bind="attr: { value : Id }" autocomplete="off">
                    <span class="control-buttons pull-right">
                        <button type="button" class="btn btn-default btn-xs btn-edit-category"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-danger btn-xs deleteCategory" data-toggle="modal" data-target="#removeCategoryConfirmation" data-bind="attr: { value : Id }">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    <span class="category-name-caption" data-bind="text: Name"></span> 
                    <span class="edit-category-controls form-inline">
                        <input type="text" class="form-control" name="categoryName" data-bind="value : Name" autocomplete="off" />
                        <button type="button" class="btn btn-success btn-sm save-category-changes">Save</button>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <h2>Subcategories</h2>
        <div>
            <div id="newSubcategoryGroup" class="input-group">
                <input id="newSubcategoryName" class="form-control" type="text" name="newCategory" placeholder="New subcategory name..." />
                <span class="input-group-btn">
                    <button id="addSubcategory" data-toggle="modal" class="btn btn-success " type="button" data-url="@Url.Action("CreateSubCategory", "CategoriesManagement")">Add</button>
                </span>
            </div>
            <p data-bind="visible: subCategories().length == 0">No records...</p>
            <ul id="subcategoriesList" class="list-group" data-toggle="buttons" data-bind="foreach: subCategories" data-subcategory-update-url="@Url.Action("UpdateSubCategory", "CategoriesManagement")">
                <li type="button" class="list-group-item" data-bind="attr: { 'data-id': Id }">
                    <span class="subcategory-name-caption" data-bind="text: Name"></span>
                    <span class="control-buttons pull-right">
                        <button type="button" class="btn btn-default btn-xs btn-edit-subcategory"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-danger btn-xs deleteSubcategory" data-toggle="modal" data-target="#removeSubcategoryConfirmation" data-bind="attr: { 'value': Id }">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    <span class="edit-subcategory-controls form-inline">
                        <input type="text" class="form-control" name="subcategoryName" data-bind="value : Name" autocomplete="off" />
                        <button type="button" class="btn btn-success btn-sm save-subcategory-changes">Save</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <!-- DeleteBookCategoryModal -->  
        <div class="modal fade" id="removeCategoryConfirmation" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Warning!</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove this book category?
                    </div>
                    <div class="modal-footer">
                        <button id="btnRemoveCategoryConfirm" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    <!-- DeleteBookSubcategoryModal -->
    <div class="modal fade" id="removeSubcategoryConfirmation" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Warning!</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this book subcategory?
                </div>
                <div class="modal-footer">
                    <button id="btnRemoveSubcategoryConfirm" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
   
</div>
