@using OnlineLibrary.Web.Models.HomeViewModels
@model BookSearchViewModel
@{
    ViewBag.Title = "Home Page";
}

@section CSS {
    <link href="~/Content/Views stylesheets/Home/Index.css" rel="stylesheet" />
    @Styles.Render("~/Content/cssjqueryUI")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/View Scripts/Home/index.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/jquery.history.js"></script>
}

<div class="row page-header">
    <form id="searchFilters" data-bind="with: searchData">
        <div class="row">
            <div class="form-horizontal col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-3", @style = "text-align: right;" })
                    <span class="input-group" style="display: block;">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-sm-8", placeholder = "Title", data_bind = "value: title" })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
                            <a type="button" id="toggleSearch" class="btn btn-warning" data-toggle="collapse" href="#searchDetails"><span class="glyphicon glyphicon-chevron-down"></span></a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-horizontal col-md-6 "></div>
        </div>
        <div class="collapse row" id="searchDetails">
            <div class="form-horizontal col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Author, new { @class = "control-label col-sm-3" })
                    @Html.TextBoxFor(m => m.Author, new { @class = "form-control col-sm-9", placeholder = "Author", data_bind = "value: author" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PublishDate, new { @class = "control-label col-sm-3" })
                    @Html.TextBoxFor(m => m.PublishDate, new
               {
                   @class = "form-control col-sm-9 datepicker",
                   value = @Model.PublishDate?.ToShortDateString(),
                   placeholder = "Publish Date",
                   data_bind = "value: publishDate"
               })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CategoryId, new { @class = "control-label col-sm-3" })
                    @Html.DropDownListFor(m => m.CategoryId, Model.Categories,
                        "Any",
                        new
                        {
                            @class = "form-control", data_subcategories_url = Url.Action("GetSubCategories", "CategoriesManagement"),
                            data_bind = "value: categoryId"
                        })
                </div>
            </div>
            <div class="form-horizontal col-md-6 ">
                <div class="form-group">
                    @Html.LabelFor(m => m.ISBN, new { @class = "control-label col-sm-3" })
                    @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control col-sm-9", placeholder = "ISBN", data_bind = "value: isbn" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-3" })
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control col-sm-9", placeholder = "Description", data_bind = "value: description" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SubcategoryId, new { @class = "control-label col-sm-3" })
                    @Html.DropDownListFor(m => m.SubcategoryId, Model.Subcategories,
                                          "Any",
                                          new
                                          {
                                              @class = "form-control",
                                              data_bind = "value: subcategoryId"
                                          })
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <h4 data-bind="visible: books().length == 0">No records...</h4>
    <div id="booksList" class="col-md-8 col-md-offset-2" data-bind="foreach: books" data-get-books-url="@Url.Action("GetBooks", "Home")">
        <div class="panel panel-default book-item">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a data-bind="attr: { href: BookLink }">
                            <img class="media-object book-cover" data-bind="attr: { src: FrontCover }" />
                        </a>
                    </div>
                    <div class="media-body">
                        <a data-bind="attr:{ href: BookLink }">
                            <h4><strong>Title: </strong><span class="media-heading" data-bind="text: Title"></span></h4>
                        </a>
                        <p><strong>Authors: </strong> <span data-bind="text: Authors"> </span> </p>
                        <p><strong>Publish Date: </strong> <span data-bind="text: PublishDate"> </span> </p>
                        <p><strong>Description: </strong> <span data-bind="text: Description"> </span> </p>
                        <strong>Categories: </strong>
                        <div data-bind="foreach: Categories">
                            <ul class="book-categories">
                                <li>
                                    <span data-bind="text: Category" class="label label-default"></span>
                                    <span data-bind="text: SubCategory" class="label label-info"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-bind="visible: numberOfPages() > 1">
    <div class="col-md-5"></div>
    <nav>
        <ul class="book-pagination">
            <li>
                <button id="previous-page" data-bind="disable: searchData.pageNumber() == 1" class="glyphicon glyphicon-chevron-left btn btn-group-xs"></button>
            </li>
            <li>
                <strong data-bind="text: searchData.pageNumber"></strong> <span>of</span> <strong data-bind="text: numberOfPages"></strong>
            </li>
            <li>
                <button id="next-page" data-bind="disable: searchData.pageNumber() == numberOfPages()" class="glyphicon glyphicon-chevron-right btn btn-group-xs"></button>
            </li>
        </ul>
    </nav>
    <div class="col-md-5"></div>
</div>

