@model List<OnlineLibrary.Web.Models.BookViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Available books</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @foreach (var book in Model)
        {
            <div class="panel panel-default book-item">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="@Url.Content(book.FrontCover)" alt="@book.Title">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@book.Title</h4>
                            <p>Author(s): @book.Authors</p>
                            <p>Publish Date: @book.PublishDate.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>